---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { buttonVariants } from '../../components/ui/button'

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '../../components/ui/card'

import {
  getAllProducts,  
} from '../../lib/cosmic';


const data5 = await getAllProducts();
---
<BaseLayout
  title="Product Page"
  description="This is the product display template. For now there's only one product"
>

<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">

  <header class="flex max-w-[980px] flex-col items-start gap-2">
    <h2 class="text-2xl font-extrabold leading-tight tracking-tighter md:text-3xl">Products</h2>
  </header>
  
  <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-4 sm:gap-y-10 lg:grid-cols-4 lg:gap-x-6">
  {
    data5.map((product) => (
    <Card>
    <CardHeader>
      <CardTitle>{product.title}</CardTitle>
      <CardDescription>{product.metadata.short_description}</CardDescription>
    </CardHeader>
    <CardContent>
      <p><img src={product.metadata.images[0].image_link + '-/resize/x400/'} /></p>
    </CardContent>
    <CardFooter>
      <div class="flex gap-10">
       <a href="#" target="_blank" rel="noreferrer" class={buttonVariants({ variant: 'outline' })}>More Info</a>
        <button class={buttonVariants()}>Add To Cart</button>
      </div>
    </CardFooter>
  </Card>
  ))
  }
  </div>
    </section>

</BaseLayout>